.mine-container {
    position: absolute;
    left: -50%;
    top: -5%;
    height: 105%;
    width: 150%;
    overflow: hidden;
}

#two {
    top: -45%;
}

#three {
    top: -55%;
}

#four {
    top: -65%;
}

@keyframes rainingMines {
    100%  {top:115%}
}

@keyframes rainingMinesTwo {
    100%  {top:125%}
}

@keyframes rainingMinesThree {
    100%  {top:135%}
}

@keyframes rainingMinesFour {
    100%  {top:145%}
}
  
#one > .mine-design {
    z-index: 996;
    animation: rainingMines 25s infinite;
    animation-iteration-count: infinite;
}

#two > .mine-design {
    z-index: 997;
    animation: rainingMinesTwo 27s infinite;
    animation-iteration-count: infinite;
}

#three > .mine-design {
    z-index: 998;
    animation: rainingMinesThree 29s infinite;
    animation-iteration-count: infinite;
}


#four > .mine-design {
    z-index: 999;
    animation: rainingMinesFour 32s infinite;
    animation-iteration-count: infinite;
}


