.bkg {
    overflow: hidden;
    position: absolute;
    left: -50%;
    top: -5%;
    height: 105%;
    width: 150%;
    z-index: 0;

}
.mine-container {
    position: absolute;
    left: -50%;
    top: 0;
    height: 150%;
    width: 150%;
    z-index: 0;
}

#two {
    top: -100px;
}

#three {
    top: -300px;
}

#four {
    top: -600px;
}

@keyframes rainingMines {
    100%  {top:102%}
}

@keyframes rainingMinesTwo {
    100%  {top:105%}
}

@keyframes rainingMinesThree {
    100%  {top:107%}
}

@keyframes rainingMinesFour {
    100%  {top:109%}
}
  
#one > .mine-design {
    animation: rainingMines 30s linear infinite;
    animation-iteration-count: infinite;
}

#two > .mine-design {
    animation: rainingMinesTwo 32s linear infinite;
    animation-iteration-count: infinite;
}

#three > .mine-design {
    animation: rainingMinesThree 35s linear infinite;
    animation-iteration-count: infinite;
}

#four > .mine-design {
    animation: rainingMinesFour 37s linear infinite;
    animation-iteration-count: infinite;
}


